<header class="main-header">
    <div class="wrapper">
        <div class="header-flex">
            
            
                
                    <div class="container">
    		<div class="blurb">
        	<div class="header">
 <img src="{{site.baseurl}}/assets/img/{% if site.author_photo %}{{site.author_photo}}{% endif %}" alt="{{site.author}}"  width="100" height="100" style="float:left">
  <h1 style="text-align:center;">The Stammering Mathematician</h1>
<p style="text-align:center;">--abstract, concrete, and conjectural gibberish by a Mathematician</p>
</div>

				
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
                        
                
           
           
        </div>
    </div>
</header> <!-- End Header -->
