<header class="main-header">
    <div class="wrapper">
        <div class="header-flex">
            
            
                
                    <div class="container">
    		<div class="blurb">
        	<div class="header">
 <img src="{{site.baseurl}}/assets/img/{% if site.author_photo %}{{site.author_photo}}{% endif %}" alt="{{site.author}}"  width="100" height="100" style="float:left">
  <h1 style="text-align:center;">My Meditations</h1>
<p style="text-align:center;">--meditations and musings of a Mathematician</p>
</div>

				
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<div class="right-header-container">
                
			<a href="{{site.projects_url}}"> {{ site.projects_title }} </a>
            </div>
		<div class="center-header-container">
		 {% include social-links.html %}
		</div>
                
           
           
        </div>
    </div>
</header> <!-- End Header -->
