<header class="main-header">
    <div class="wrapper">
        <div class="header-flex">
            
            
                
                    <div class="container">
    		<div class="blurb">
        	<div class="header">
 
</div>

				
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<div class="right-header-container">
                
			<a href="{{site.projects_url}}"> {{ site.projects_title }} </a>
            </div>
		<div class="center-header-container">
			<img src="{{site.baseurl}}/assets/img/{% if site.author_photo %}{{site.author_photo}}{% endif %}" alt="{{site.author}}"  width="315" height="227">
  <a href="{{site.projects_url}}"> {{ site.projects_title }} </a>

		 {% include social-links.html %}
		</div>
                
           
           
        </div>
    </div>
</header> <!-- End Header -->
